@font-face {
  font-family: 'Cascadia Code';
  src: url('../assets/fonts/CascadiaCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Đặt Cascadia Code là font mặc định cho các phần tử pre và code */
pre, code, .code-font {
  font-family: 'Cascadia Code', monospace !important;
}
